<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Magazin de jucarii</title>
        
        <meta name = "description" content = "Cele mai frumoase jucarii">
        <meta name="keywords" content="jucarii, copii, copilarie, joc">

        <%- include("../fragmente/head.ejs"); %>

        <link rel="stylesheet"  href="/resurse/css/general.css" type="text/css">
        <link rel="stylesheet" href="/resurse/css/nav.css" type="text/css"/>

        <link rel="stylesheet" href="/resurse/css/general-1200.css" type="text/css" media="screen and (max-width:1200px)"/>

        <link rel="stylesheet" href="/resurse/css/nav-500.css" type="text/css" media="screen and (max-width:500px)"/>
        <link rel="stylesheet" href="/resurse/css/general-500.css" type="text/css" media="screen and (max-width:500px)"/>

        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
       

    </head>
    <body>

        <%- include("../fragmente/header.ejs"); %>

        <main>
           <h1>
              403 - Nu e voie!
           </h1>
        </main>

        <%- include("../fragmente/footer.ejs"); %>
        

    </body>
</html>