<footer>
    <address>
        <a href="tel:+40123456789">Suna-ne</a>
        <a href="https://www.google.ro/maps/@44.424833,26.010993,18z?hl=ro">Locatie</a>
        <a href="mailto:anaaremere@gmail.com">Email</a>
        <a href="https://wa.me/15551234567">Whatsapp</a>
    </address>
    

    <p><small>Copyright &copy;<time datetime="2022-02-27">2022</time> Airinei Andrei Cristian</small></p>



    <a href="" id = "Up" title="Mergi sus!">
        <div id = "Triunghi">
            
        </div>
    </a>  <!-- merge singur sus -->
</footer>