<script>    
    var tema = localStorage.getItem("tema");    
    if(tema) 
        document.body.classList.add("dark");
    else
        document.body.classList.remove("dark");
</script>


<header>
    <p id = "banner">Acesta este un Proiect scolar</p>
    <p id = "watermark">Airinei Andrei Cristian</p>
    <h1>Magazin de jucarii</h1>
    <nav>
        <label id = "hamburger" for="ch-menu">
            <img src = "/resurse/imagini/Hamburger_icon_alb.png" alt = "Menu"> 
        </label>
        <input id = "ch-menu" type="checkbox" >
         <ul class="meniu">
            <li>        
                <a href="/index"  >
                    <span class="fas fa-home "></span>
                    <span id = "Home">Acasa</span>
                </a>
                <ul class="submeniu">
                    <li><a href="/despre" >Despre</a></li>
                    <li><a href="/index#Orar">Orar</a></li>
                </ul>    
            </li>
                <li><a href="/index#Oferte" >Oferte</a></li> 
                <li>
                    <a href="/produse" >Produse</a>
                    <ul class = "submeniu">
                        <% if(locals.optiuniMeniu) for(let op of locals.optiuniMeniu){ %>
                            <li><a href = "produse?tip=<%-op.unnest%>"> <%- op.unnest %> </a></li>
                        <% } %>
                    </ul>
                </li> 
                <li><a href="/index#Recenzii">Recenzii</a></li>
            <li>
                <a href="">Optiuni multe</a>
                <ul class="submeniu">
                    <li><a href="">Optiune1</a></li>
                    <li><a href="">Optiune2</a></li>
                    <li><a href="">Optiune3</a></li>
                    <li><a href="">Optiune4</a></li>
                    <li><a href="">Optiune5</a></li>
                </ul>
            </li>

            <li> <a href="/inregistrare">Inregistrare</a></li>
            <li> <a href="/cos-virtual">Cos Virtual</a></li>


            <% if(locals.utilizator){ %>
            <li>
                <a href=""> <%- locals.utilizator.username %></a>
                <ul class="submeniu">
                    <li><a href="/profil">Profil</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <% } %>
         </ul>
    </nav>


    <p id = "btn_tema"><button>Schimba tema</button></p>


    <% if(!locals.utilizator) { %>
    <form id="form_login"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
        <p>
            <label>
                Username: <input type="text" name="username" id="inp-username" value="prof<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9]+">
            </label>
        </p>
        <p> 
            <label>
                Parola: <input id="parl" type="password" required  name="parola" value="">
            </label>
        </p>
        <p>		
            <input type="submit" value="Login">
        </p>
    </form>
    <% } %>
</header>